# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.next/cache/.previewinfo
.next/dev/cache/.rscinfo
.next/dev/prerender-manifest.json
.next/dev/server/chunks/ssr/[root-of-the-server]__051_2c8._.js
.next/dev/server/chunks/ssr/[root-of-the-server]__0c467.p._.js
.next/dev/server/server-reference-manifest.json
.next/dev/static/chunks/src_0m4rs4q._.js
.next/dev/static/chunks/src_0wofc73._.js
.next/prerender-manifest.json
.next/server/chunks/ssr/src_context_AuthContext_jsx_0z95u_m._.js
.next/static/chunks/12mef-r5t-ot1.js
node_modules/
.next/
dist/
build/
.env.local
.env.production
.turbopack/
*.node
